[submodule "fms"]
path = src
url = https://github.com/alperaltuntas/TIM
fxtag = tim_0.0.1
fxrequired = AlwaysRequired
fxDONOTUSEurl = https://github.com/TURBO-ESM/TIM
[submodule "amrex"]
path = amrex
url = https://github.com/AMReX-Codes/amrex
fxtag = 25.11
fxrequired = AlwaysRequired
fxDONOTUSEurl = https://github.com/AMReX-Codes/amrex
